html, body {
    background-color: #121212; /* Use a dark background */
    color: #e0e0e0;           /* Lighten text color for better contrast */
}

body {
    background-color: #1e1e1e; /* Darker shade for body background */
}

a {
    color: #82b1ff; /* Bright blue color to stand out against dark background */
}

.navbar, .footer {
    background-color: #212121 !important; /* Darker shade for navigation and footer */
}

.navbar-dark .navbar-nav .nav-link.customLink {
    color: #ffcc00; /* Softer yellow */
}

.navbar-dark .navbar-nav .nav-link.customLink:hover {
    color: #ffb000; /* Slightly lighter on hover */
}

.card-header, .customParameters .card-header {
    background-color: #333333; /* Darker shade for card headers */
    color: #f2f2f2;            /* Lighten text color */
}

i {
    color: #89ddff; /* Softer light blue for icons */
}

.btn-clipboard {
    color: #bdbdbd; /* Softer shade of grey for button text */
}

.list-group-item .row:hover {
    background-color: rgba(255, 255, 255, 0.075); /* Lighten hover effect */
}

p.firstException {
    color: #ff6e6e; /* Softer version of red */
    border: 1px solid #ff6e6e;
}

pre, span.keyword {
    color: #82cfff; /* Brighter blue for code and keywords */
}

span.parameter {
    color: #c3e88d; /* Soft green */
}

.card, .dataTables_length {
    background-color: #2a2a2a; /* Lower brightness for components */
    color: #e0e0e0;            /* Brighten text color */
}

tr.even td, tr.odd td {
    border-bottom: #383838 1px solid; /* Darker border for table rows */
}

.icon-passed:before {
    content: '\e800';
    color: #8bc34a; /* Softer green for success */
}

.icon-failed:before {
    content: '\e801';
    color: #ff5252; /* Adjust red for failure */
}

.icon-skipped:before {
    content: '\e802';
    color: #ffcc00; /* Softer yellow for skipped */
}

/* Additional dark theme styles can be added similarly */