
.color-passed {
    color: #017FAF !important;
}

.border-color-passed {
    border: 2px solid #017FAF !important;
}

.color-failed {
    color: #C94A38 !important;
}

.border-color-failed {
    border: 2px solid #C94A38 !important;
}

.color-skipped  {
    color: #F48F00 !important;
}

.border-color-skipped  {
    border: 2px solid #F48F00 !important;
}
